.footerContainer {
    margin-top: 46px;
    padding: 0 39px;
}

.footerLink {
    font-size: 12px;
}

.copywright {
    font-size: 12px;
    align-self: center;
}

.poweredByImg {
    width: 84px;
    height: 47px;
    align-self: center;
}